@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh/YekanBakh-Regular.eot');
    src: url('../fonts/YekanBakh/YekanBakh-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YekanBakh/YekanBakh-Regular.woff2') format('woff2'),
        url('../fonts/YekanBakh/YekanBakh-Regular.woff') format('woff'),
        url('../fonts/YekanBakh/YekanBakh-Regular.ttf') format('truetype'),
        url('../fonts/YekanBakh/YekanBakh-Regular.svg#YekanBakh-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YekanBakhHeavy';
    src: url('../fonts/YekanBakh/YekanBakh-Heavy.eot');
    src: url('../fonts/YekanBakh/YekanBakh-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YekanBakh/YekanBakh-Heavy.woff2') format('woff2'),
        url('../fonts/YekanBakh/YekanBakh-Heavy.woff') format('woff'),
        url('../fonts/YekanBakh/YekanBakh-Heavy.ttf') format('truetype'),
        url('../fonts/YekanBakh/YekanBakh-Heavy.svg#YekanBakh-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YekanBakhMedium';
    src: url('../fonts/YekanBakh/YekanBakh-Medium.eot');
    src: url('../fonts/YekanBakh/YekanBakh-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YekanBakh/YekanBakh-Medium.woff2') format('woff2'),
        url('../fonts/YekanBakh/YekanBakh-Medium.woff') format('woff'),
        url('../fonts/YekanBakh/YekanBakh-Medium.ttf') format('truetype'),
        url('../fonts/YekanBakh/YekanBakh-Medium.svg#YekanBakh-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YekanBakhBold';
    src: url('../fonts/YekanBakh/YekanBakh-Bold.eot');
    src: url('../fonts/YekanBakh/YekanBakh-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YekanBakh/YekanBakh-Bold.woff2') format('woff2'),
        url('../fonts/YekanBakh/YekanBakh-Bold.woff') format('woff'),
        url('../fonts/YekanBakh/YekanBakh-Bold.ttf') format('truetype'),
        url('../fonts/YekanBakh/YekanBakh-Bold.svg#YekanBakh-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YekanBakhFat';
    src: url('../fonts/YekanBakh/YekanBakh-Fat.eot');
    src: url('../fonts/YekanBakh/YekanBakh-Fat.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YekanBakh/YekanBakh-Fat.woff2') format('woff2'),
        url('../fonts/YekanBakh/YekanBakh-Fat.woff') format('woff'),
        url('../fonts/YekanBakh/YekanBakh-Fat.ttf') format('truetype'),
        url('../fonts/YekanBakh/YekanBakh-Fat.svg#YekanBakh-Fat') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}